/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #000000;
  text-align: center;
}

p {
  padding: 10px;
  margin: 0px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

section {
  border:	1px solid black;
	background-color: Grey;
	width: 100%;
	height: 200px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: black;
	position: relative;
  overflow: auto;
}

.container {
  margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
  padding: 10px;
}

#chicken {
	border: 1px solid black;
	text-align: center;
  width: 30%;
  margin-left: 70%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #ff9999;
}
#beef {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #cc0000;
}
#sushi {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #ffcc66;
}

/********** Desktop **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }
}

/********** Mobile **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}
