#header-nav {
  border-radius: 0;
  border: 0;
}

#header-nav .container {
  margin-left: 0;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
}

#nav-list > li > a:hover {
  background-color: Blue;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}

#nav-list li {
  background-color: Yellow;
}

#main-content {
  width: 100%;
}

.chicken-tile {
  background-color: Red;
}

.chicken-tile h3 {
  text-align: center;
  padding-top: 10px;
}

.beef-tile {
  background-color: Yellow;
}

.beef-tile h3 {
  text-align: center;
  padding-top: 10px;
}

.sushi-tile {
  background-color: Green;
}

.sushi-tile h3 {
  text-align: center;
  padding-top: 10px;
}

.menu-item-details {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.navbar-brand h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
